@import './header.css';
@import './gallery.css';
@import './searchBar.css';
@import './buttons/day_night.css';
@import './buttons/favorite.css';
@import './buttons/hamburguer.css';

@layer components {
	/* Container --------------------------------*/
	.container-main {
		@apply w-full min-h-screen dark:bg-gray-900 dark:text-white;
	}

	.container-page {
		@apply container min-h-screen w-full pt-[70px] sm:pt-[90px] px-6 mx-auto;
	}
}
