@layer components {
	/* Header -----------------------------------*/

	.header {
		@apply flex justify-between items-center
    fixed  z-1000
    h-15 sm:h-20 p-4 bg-met-red dark:bg-met-red-dark text-white shadow-md w-full;
	}

	.header-navigation {
		@apply hidden sm:flex items-center gap-4;
	}

	.header-navigation-mobile {
		@apply flex sm:hidden relative;
	}

	/* Navigation */
	.nav-link {
		@apply flex items-center cursor-pointer gap-1 hover:opacity-80;
	}

	.nav-img {
		@apply h-4 w-3;
	}

	.nav-font {
		@apply text-sm;
	}

	/* Menu Drawer */
	.menu-drawer {
		@apply w-[200px] h-screen p-2
    fixed top-[60px] right-0 z-30
			/* slide animation */
			transition-transform duration-300 ease-in-out
      /* shadow */
      shadow-lg
      bg-met-red dark:bg-met-red-dark text-white;
	}
}
