@layer components {
	/* Header -----------------------------------*/
	.header {
		@apply flex justify-between items-center
    fixed  z-1000
    h-15 sm:h-20 p-4 bg-met-red dark:bg-met-red-dark text-white shadow-md w-full;
	}

	.bg-met-red {
		background-color: var(--color-met-red);
	}

	/* Navigation */
	.nav-link {
		@apply flex items-center cursor-pointer gap-1 hover:opacity-80;
	}

	.nav-img {
		@apply h-4 w-3;
	}

	.nav-font {
		@apply text-sm;
	}
}
