@layer components {
	/* Header -----------------------------------*/

	.header {
		@apply flex justify-between items-center
    fixed  z-1000
    h-15 sm:h-20 p-4 bg-met-red dark:bg-met-red-dark text-white shadow-md w-full;
	}
	.header-navigation {
		@apply hidden sm:flex items-center gap-4;
	}

	.header-navigation-mobile {
		@apply flex sm:hidden relative;
	}

	/* Logo */
	.header-logo {
		@apply font-bold flex flex-col items-center font-serif -top-0.5 relative;
	}

	.header-logo-art {
		@apply text-[40px] sm:text-[45px] leading-[0.9];
	}

	.header-logo-explorer {
		@apply text-[21px] font-light leading-none;
	}

	/* Navigation */

	.nav-content {
		@apply flex flex-col sm:flex-row gap-y-5 sm:gap-x-4 pt-1;
	}

	.nav-link {
		@apply flex items-center cursor-pointer gap-1 hover:opacity-80;
	}

	.nav-img {
		@apply h-4 w-3;
	}

	.nav-font {
		@apply text-sm;
	}

	/* Menu Drawer */
	.menu-drawer {
		@apply w-[200px] h-screen p-2
    fixed top-[60px] right-0 z-30
			/* slide animation */
			transition-transform duration-300 ease-in-out
      /* shadow */
      shadow-lg
      bg-met-red dark:bg-met-red-dark text-white;
	}
}
