@import './day_night.css';
@import './favorite.css';
@import './hamburger.css';

@layer component {
	.btn-back {
		@apply inline-flex items-center gap-2 mb-4 hover:opacity-80 h-11 rounded
      focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
      focus-visible:outline-[--color-met-red-darker] cursor-pointer;
	}
}
