@layer components {
	.header {
		@apply flex justify-between items-center
    fixed  z-1000
    h-20 p-4 bg-met-red text-white shadow-md w-full;
	}

	.bg-met-red {
		background-color: var(--color-met-red);
	}

	/* Buttons -----------------------------------*/

	/*------- Hamburger Menu */
	.hamburger {
		@apply flex flex-col gap-1.5 cursor-pointer p-2;
	}

	.hamburger .bar {
		@apply w-6 h-0.5 bg-white transition-all duration-300 ease-in-out;
	}

	/* Animation when it's open */
	.hamburger.active .bar:nth-child(1) {
		@apply rotate-45 translate-y-2;
	}

	.hamburger.active .bar:nth-child(2) {
		@apply opacity-0;
	}

	.hamburger.active .bar:nth-child(3) {
		@apply -rotate-45 -translate-y-2;
	}

	/* Navigation */
	.nav-link {
		@apply flex items-center cursor-pointer hover:opacity-80;
	}

	.nav-img {
		@apply h-6 w-6;
	}

	.nav-font {
		@apply text-sm;
	}
}
