/*  Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

/* Import custom layers */
@import './base.css';
@import './components/components.css';
@import './theme.css';

@custom-variant dark (&:where(.dark, .dark *));
